<nav class="navbar">
    <div class="container-fluid">
        <ul class="menu">
            <li routerLinkActive="active"><a routerLink="/start">{{ 'header.home'|translate }}</a></li>
            <li routerLinkActive="active"><a routerLink="/about">{{ 'header.about'|translate }}</a></li>
            <li routerLinkActive="active"><a routerLink="/works">{{ 'header.myWorks'|translate }}</a></li>
            <li routerLinkActive="active"><a routerLink="/software_stack">{{ 'header.softwareStack'|translate }}</a></li>
            <li routerLinkActive="active"><a routerLink="/contact">{{ 'header.contact'|translate }}</a></li>
        </ul>
    </div>
</nav>
