.navbar {
    align-items: center;
    text-align: center;
    padding: 15px;
    border-bottom: solid 2px #FFA07A;
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: #FFA07A;
}

.menu li.active a {
    color: #FFA07A;
}

li {
    list-style: none;
    display: inline;
    text-align: center;
    padding: 5px 30px;
}

@media (max-width: 768px) {
    .navbar {
        text-align: center;
        padding: 16px;
    }
}
