<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler custom-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar1"
                aria-controls="navbar1"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1" #navbar>
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/about" (click)="hideNavbar(navbar)">{{ 'header.about'|translate }}</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/works" (click)="hideNavbar(navbar)">{{ 'header.myWorks'|translate }}</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/software_stack" (click)="hideNavbar(navbar)">{{ 'header.softwareStack'|translate }}</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/contact" (click)="hideNavbar(navbar)">{{ 'header.contact'|translate }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
