.footer {
    background-color: #FFA07A;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 20px;
}


.imprint {
    color: white;
}

.imprint:hover {
    color: black;
}

.imprint:active,
.imprint:focus,
.imprint:visited {
    border: transparent;
}

.hidden {
    text-align: left;
    color: white;
    padding: 40px;
}
