<div class="footer">
    <a class="imprint btn"
       (click)="showImprint()">
        {{ 'footer.imprint'|translate }}
    </a>
    <section *ngIf="show" class="hidden">
        <p>Halina Kukielka</p>
        <p>Haintürchenstraße 4 B</p>
        <p>61462 Königstein im Taunus</p>
        <p>E-mail: halina@kukielka.net</p>
        <p>Tel. 0163 377 9667</p>
        <br>
        <p [style.fontWeight]="'bold'">{{ 'footer.text1'|translate }}</p>
        <p>Halina Kukielka</p>
        <p>Haintürchenstraße 4B</p>
        <p>61462 Königstein im Taunus</p>
        <br>
        <p [style.fontWeight]="'bold'">{{ 'footer.text2'|translate }}</p>
        <p>{{ 'footer.text3'|translate }}</p>
        <br>
        <p [style.fontWeight]="'bold'">{{ 'footer.text4'|translate }}</p>
        <p>{{ 'footer.text5'|translate }}</p>
    </section>
    <div id="imprintEnd"  #imprintEnd></div>
</div>
