<div class="content-container">
    <div class="container">
        <div class="imageStart">
            <img src="../../assets/images/image.jpeg" alt="image">
        </div>
        <div class="text">
            <h2>{{ 'contact.contactMe'|translate }}</h2>
            <p>
      <span>
        <i class="fa fa-envelope"></i>
        <span>{{ 'contact.email'|translate }}</span>
          <a class="emailLink" href="mailto:halina@kukielka.net">
            {{ 'contact.emailAddress'|translate }}</a></span>
                <br>
                <br>
                <span>
        <i class="fa fa-phone icon"></i>
                    {{ 'contact.phone'|translate }}</span>
            </p>
        </div>
    </div>
</div>
