.emailLink,
.call {
    text-decoration: none;
    color: black;
    position: relative;
}

.emailLink:hover {
    text-decoration: underline;
    color: #FFA07A;
}

.call:hover {
    text-decoration: underline;
    color: #FFA07A;
}

.contactText {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

