<div class="content-container">
    <div class="content">
        <div class="imageContact">
            <img class="portrait" src="../../assets/images/contactImage.jpg" alt="image">
        </div>
        <div class="contactText">
            <h2>{{ 'contact.contactMe'|translate }}</h2>
            <span>
            <i class="fa fa-envelope"></i>
            <span>{{ 'contact.email'|translate }}</span>
            <a class="emailLink" href="mailto:halina@kukielka.net">
                {{ 'contact.emailAddress'|translate }}</a>
            </span>
            <br>
            <br>
            <span>
            <i class="fa fa-phone icon"></i>
                {{ 'contact.phone'|translate }}
            </span>
        </div>
    </div>
</div>
