<div class="gallery-container">
    <button (click)="prevImage()">
        <i class="fa fa-arrow-left fa-2x"></i>
    </button>
    <img [src]="images[selectedIndex]" class="galleryImage" alt="Gallery Image">
    <button (click)="nextImage()">
        <i class="fa fa-arrow-right fa-2x"></i>
    </button>

</div>
<div class="description">
    <p class="link">
        <a href="https://misercook.com">{{ projectNames[selectedIndex] | translate}}</a></p>
    <div>{{ projectDescriptions[selectedIndex]| translate }}</div>
</div>

