<div class="project">
    <h3>{{ projectNames[selectedIndex] | translate}}</h3>
<div class="gallery-container">
    <button (click)="prevImage()">
        <i class="fa fa-arrow-left fa-2x"></i>
    </button>
    <img [src]="images[selectedIndex]" class="galleryImage" alt="Gallery Image">
    <button (click)="nextImage()">
        <i class="fa fa-arrow-right fa-2x"></i>
    </button>
</div>
<div class="aboutProject">
    <p class="link">{{ 'project.link' | translate}}
        <a [href]="projectLinks[selectedIndex]">{{ projectLinks[selectedIndex] | translate}}</a>
    <div class="description">{{ projectDescriptions[selectedIndex]| translate }}</div>
</div>
</div>
