<div class="software-stack">
    <h2>{{ 'software-stack.services'|translate }}</h2>
    <ul class="fa-ul row">
        <li>
            <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
            <p>{{ 'software-stack.serv1'|translate }}</p>
        </li>
        <li>
            <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
            <p>{{ 'software-stack.serv2'|translate }}</p>
        </li>
        <li>
            <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
            <p>{{ 'software-stack.serv3'|translate }}</p>
        </li>
    </ul>
        <h2>{{ 'software-stack.title'|translate }}</h2>
        <ul class="fa-ul row">
            <li>
                <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
                <p>{{ 'software-stack.stack1'|translate }}</p>
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
                <p>{{ 'software-stack.stack2'|translate }}</p>
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
                <p>{{ 'software-stack.stack3'|translate }}</p>
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
                <p>{{ 'software-stack.stack4'|translate }}</p>
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
                <p>{{ 'software-stack.stack5'|translate }}</p>
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
                <p>{{ 'software-stack.stack5'|translate }}</p>
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
                <p>{{ 'software-stack.stack6'|translate }}</p>
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
                <p>{{ 'software-stack.stack7'|translate }}</p>
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
                <p>{{ 'software-stack.stack8'|translate }}</p>
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-arrow-right"></i></span>
                <p>{{ 'software-stack.stack9'|translate }}</p>
            </li>
        </ul>
    </div>
