@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
    font-family: 'Arima-Light';
    src: url('assets/fonts/Arima-Light.ttf');
}

body {
    font-family: Arima-Light, Arial, sans-serif;
    background-color: #FFA07A;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
.app-component {
    width: 100%;
}

.content-container {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1;
    background-color: white;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.imageStart {
    flex: 1;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.text {
    flex: 1;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .imageStart,
    .text {
        flex: none;
        width: 100%;
        margin: 10px 0;
    }
}
