@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
    font-family: 'Arima-Light';
    src: url('assets/fonts/Arima-Light.ttf');
}

body {
    font-family: Arima-Light, Arial, sans-serif;
    background-color: #FFA07A;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

h2 {
    font-weight: bold;
}

.content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 85vh;
    width: 100%;
    margin: 0;
}

.content {
    display: flex;
    flex: 1;
    background-color: white;
    padding-top: 40px;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: border-box;
}

.imageStart,
.imageContact {
    flex: 1;
    margin-bottom: 20px;
}

img {
    width: 100%;
    max-width: 450px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.text {
    flex: 1;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


.portrait {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
}

.portrait:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .imageStart,
    .imageContact,
    .text{
        flex: 1;
        width: 100%;
        margin-top: 20px;
    }

    .imageStart,
    .imageContact{
        max-height: 400px;
        width: auto;
    }

    .portrait,
    .imageContact{
        max-height: 400px;
        width: auto;
    }
}

